.logo {
  transition: transform 0.4s ease-in-out;
  cursor: help;
}

.logo:hover {
  transform: scale(1.1);
}

.footer {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  
}
